doctype html
head
    title The Auto-Tuning Website Template | Home ::
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='http://fonts.useso.com/css?family=Anaheim', rel='stylesheet', type='text/css')
    link(href='m/style.css', rel='stylesheet', type='text/css', media='all')
    // slider
    script(type='text/javascript', src='js/modernizr.custom.53451.js')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery.gallery.js')
    script(type='text/javascript').
        $(function() {
            $('#dg-container').gallery({
                autoplay: true
            });
        });
.wrap
    .header
        .logo
            h1
                a(href='index.html')
                    img(src='images/logo.png', alt='')
        .clear
        .copyrights
            | Collect from
            a(href='http://www.cssmoban.com/') &#x514D;&#x8D39;&#x6A21;&#x677F;
        .h_main
            ul.nav(width='900px', height='100px')
                li.active
                    a(href='index.html') &#x9996;&#x9875;
                li
                    a(href='maintain.html') &#x7EF4;&#x62A4;
                li
                    a(href='repair.html') &#x7EF4;&#x4FEE;
                li
                    a(href='contact.html') &#x8054;&#x7CFB;
                li
                    a(href='about.html') &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                li
                    a(href='term.html') &#x6211;&#x4EEC;&#x56E2;&#x961F;
            .search
                form
                    input(type='text', value='')
                    input(type='submit', value='')
            .clear
    .container
        section#dg-container.dg-container
            .dg-wrapper
                a(href='details.html')
                    img(src='img/aodiA3.jpg', alt='image1')
                a(href='BenChidetails.html')
                    img(src='images/benchiAji.jpg', alt='image2')
                a(href='details(2).html')
                    img(src='images/3.jpg', alt='image3')
                a(href='MuMaRensingle.html')
                    img(src='images/mmr.jpg', alt='image4')
                a(href='puladuoDetails1.html')
                    img(src='images/pld_b.jpg', alt='image5')
                a(href='pajieruoDetails.html')
                    img(src='images/pjl.jpg', alt='image1')
                // <a href="details(2).html"><img src="images/7.jpg" alt="image2" /></a>
                a(href='baomaDetail.html')
                    img(src='images/baoma5xilie.jpg', alt='image3')
    .main
        .section.group
            .grid_1_of_4.images_1_of_4
                a(href='KadiLakeSingle.html')
                    img(src='images/kaidilakeXT6.jpg')
                a(href='KadiLakeSingle.html')
                    h3 &#x51EF;&#x8FEA;&#x62C9;&#x514B;&#xFF38;&#xFF34;&#xFF16;
            .grid_1_of_4.images_1_of_4
                a(href='baojunsingle.html')
                    img(src='images/baojun530.png')
                a(href='baojunsingle.html')
                    h3 &#x5B9D;&#x9A8F;530
            .grid_1_of_4.images_1_of_4
                a(href='BentianDetails.html')
                    img(src='images/bentian.png')
                a(href='BentianDetails.html')
                    h3 &#x672C;&#x7530;
            .grid_1_of_4.images_1_of_4
                a(href='MuMaRensingle.html')
                    img(src='images/mmr.jpg')
                a(href='MuMaRensingle.html')
                    h3 &#x7267;&#x9A6C;&#x4EBA;
            .clear
        .section.group.btm
            .grid_1_of_4.images_1_of_4
                a(href='puladuoDetails1.html')
                    img(src='images/pld_b.jpg')
                a(href='puladuoDetails1.html')
                    h3 &#x4E30;&#x7530;&#x666E;&#x62C9;&#x591A;
            .grid_1_of_4.images_1_of_4
                a(href='pajieruoDetails.html')
                    img(src='images/pjl.jpg')
                a(href='pajieruoDetails.html')
                    h3 &#x4E09;&#x83F1;&#x5E15;&#x6770;&#x7F57;
            .grid_1_of_4.images_1_of_4
                a(href='BeijinXianDaidetails.html')
                    img(src='images/beijianxiandai.jpg')
                a(href='BeijinXianDaidetails.html')
                    h3 &#x5317;&#x4EAC;&#x73B0;&#x4EE3;
            .grid_1_of_4.images_1_of_4
                a(href='DeGuoDazhong.html')
                    img(src='images/deguodazhong.jpg')
                a(href='DeGuoDazhong.html')
                    h3 &#x5FB7;&#x56FD;&#x5927;&#x4F17;
            .clear
    .footer
        .f_left
            .f_nav
                ul
                    li
                        a(href='') &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                    li
                        a(href='') &#x5730;&#x70B9;&#x7AD9;&#x56FE;
                    li
                        a(href='') &#x5BA2;&#x6237;&#x670D;&#x52A1;
                    li
                        a(href='') &#x641C;&#x7D22;&#x6761;&#x4EF6;
                    li
                        a(href='') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        .social-icons
            ul
                li.icon1
                    a(href='#', target='_blank')
                li.icon2
                    a(href='#', target='_blank')
                li.icon3
                    a(href='#', target='_blank')
                li.icon4
                    a(href='#', target='_blank')
                .clear
        .clear
