doctype html
head
    title &#x5B9D;&#x9A8F;&#x8BE6;&#x60C5;&#x9875;&#x9762;
    link(href='css/style2.css', rel='stylesheet', type='text/css', media='all')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='https://fonts.googleapis.com/css?family=Playball', rel='stylesheet', type='text/css')
    link(type='text/css', rel='stylesheet', charset='UTF-8', href='https://translate.googleapis.com/translate_static/css/translateelement.css')
.header-bg
    .wrap
        .h-bg
            .total
                .header
                    .box_header_user_menu
                        ul.user_menu
                            li.act.first
                                a(href='')
                                    .button-t
                                        span
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') &#x9001;&#x8D27;&#x548C;&#x9000;&#x8D27;
                            li
                                a(href='')
                                    .button-t
                                        span
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') &#x9AD8;&#x7EA7;&#x641C;&#x7D22;
                            li
                                a(href='')
                                    .button-t
                                        span
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') &#x521B;&#x5EFA;&#x4E00;&#x4E2A;&#x5E10;&#x6237;
                            li.last
                                a(href='')
                                    .button-t
                                        span
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') &#x767B;&#x5F55;
                    .header-right
                        ul.follow_icon
                            li
                                a(href='#')
                                    img(src='images/icon.png', alt='')
                            li
                                a(href='#')
                                    img(src='images/icon1.png', alt='')
                            li
                                a(href='#')
                                    img(src='images/icon2.png', alt='')
                            li
                                a(href='#')
                                    img(src='images/icon3.png', alt='')
                    .clear
                    .header-bot
                        .logo
                            a(href='index.html')
                                img(src='images/logo.png', alt='')
                        .search
                            input.textbox(type='text', value='', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
                            button.gray-button
                                span
                                    font(style='vertical-align: inherit;')
                                        font(style='vertical-align: inherit;') &#x641C;&#x7D22;
                        .clear
                .menu
                    .top-nav
                        ul
                            li.active
                                a(href='index.html')
                                    font(style='vertical-align: inherit;')
                                        font(style='vertical-align: inherit;') &#x4E3B;&#x9875;
                            li
                                a(href='contact.html')
                                    font(style='vertical-align: inherit;')
                                        font(style='vertical-align: inherit;') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
                        .clear
                .banner-top
                    .header-bottom
                        .header_bottom_right_images
                            .about_wrapper
                                h1
                                    font(style='vertical-align: inherit;')
                                        font(style='vertical-align: inherit;') &#x957F;&#x671F;&#x4E1A;&#x52A1;
                            .about-group
                                .about-top
                                    .grid.images_3_of_1
                                        img(src='images/pic7.jpg', alt='')
                                    .grid.span_2_of_3
                                        h3
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') Lorem&#x5B58;&#x6709;&#x80E1;&#x841D;&#x535C;&#xFF0C;&#x63D0;&#x9AD8;&#x672C;&#x79D1;&#x5F00;&#x53D1;&#x5546;&#xFF0C;&#x62B5;&#x6D88;SED NIBH
                                        p
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') Lorem&#x5B58;&#x6709;&#x60B2;&#x5750;&#x963F;&#x6885;&#x5FB7;&#xFF0C;consectetur adipiscing ELIT&#xFF0C;sed&#x7684;tempor&#x548C;&#x6D3B;&#x529B;&#xFF0C;&#x4F7F;&#x52B3;&#x52A8;&#x548C;&#x60B2;&#x4F24;&#xFF0C;&#x4E00;&#x4E9B;&#x91CD;&#x8981;&#x7684;&#x4E8B;&#x60C5;&#x8981;&#x505A;eiusmod&#x3002;
                                                font(style='vertical-align: inherit;') &#x591A;&#x5E74;&#x6765;&#xFF0C;&#x6211;&#x4F1A;&#x6765;&#x7684;&#xFF0C;&#x8C01;&#x5C06;&#x4F1A;nostrud aliquip&#x4E86;&#x5979;&#x953B;&#x70BC;&#x7684;&#x4F18;&#x52BF;&#xFF0C;&#x4F7F;&#x523A;&#x6FC0;&#x63AA;&#x65BD;&#xFF0C;&#x5982;&#x679C;&#x5B66;&#x533A;&#x548C;&#x957F;&#x5BFF;&#x3002;
                                                font(style='vertical-align: inherit;') &#x60F3;&#x6210;&#x4E3A;&#x5728;cupidatat cillum&#x75BC;&#x75DB;&#x5DF2;&#x7ECF;&#x5728;DUIS&#x7B49;dolore&#x9EA6;&#x683C;&#x7EB3;&#x88AB;&#x6279;&#x8BC4;&#x9003;&#x79BB;&#x4EA7;&#x751F;&#x4EFB;&#x4F55;&#x7ED3;&#x679C;&#x7684;&#x4E50;&#x8DA3;&#x3002;
                                        p
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') Lorem&#x5B58;&#x6709;&#x60B2;&#x5750;&#x963F;&#x6885;&#x5FB7;&#xFF0C;consectetur adipiscing ELIT&#xFF0C;sed&#x7684;tempor&#x548C;&#x6D3B;&#x529B;&#xFF0C;&#x4F7F;&#x52B3;&#x52A8;&#x548C;&#x60B2;&#x4F24;&#xFF0C;&#x4E00;&#x4E9B;&#x91CD;&#x8981;&#x7684;&#x4E8B;&#x60C5;&#x8981;&#x505A;eiusmod&#x3002;
                                                font(style='vertical-align: inherit;') &#x591A;&#x5E74;&#x6765;&#xFF0C;&#x6211;&#x4F1A;&#x6765;&#x7684;&#xFF0C;&#x8C01;&#x5C06;&#x4F1A;nostrud aliquip&#x4E86;&#x5979;&#x953B;&#x70BC;&#x7684;&#x4F18;&#x52BF;&#xFF0C;&#x4F7F;&#x523A;&#x6FC0;&#x63AA;&#x65BD;&#xFF0C;&#x5982;&#x679C;&#x5B66;&#x533A;&#x548C;&#x957F;&#x5BFF;&#x3002;
                                                font(style='vertical-align: inherit;') &#x4F46;cupidatat&#x529F;&#x8BFE;&#x3002;
                                    .clear
                                p.about-para
                                    font(style='vertical-align: inherit;')
                                        font(style='vertical-align: inherit;')
                                            | Lorem&#x5B58;&#x6709;&#x60B2;&#x5750;&#x963F;&#x6885;&#x5FB7;&#xFF0C;consectetuer adipiscing ELIT&#xFF0C;sed&#x7684;&#x76F4;&#x5F84;nonummy NIBH euismod tincidunt UT laoreet dolore&#x9EA6;&#x683C;&#x7EB3;aliquam ERAT volutpat&#x3002;
                                        font(style='vertical-align: inherit;')
                                            | &#x8FD9;&#x5C31;&#x662F;&#x4E3A;&#x4EC0;&#x4E48;&#x6211;&#x6765;&#x4E86;&#xFF0C;&#x66F4;&#x591A;&#x7684;&#x4FE1;&#x606F;&#xFF0C;&#x56E0;&#x6B64;&#xFF0C;&#x4EFB;&#x4F55;&#x4E00;&#x4E2A;nostrud&#x665A;&#x4F1A;&#x7ED3;&#x675F;ullamcorper suscipit lobortis nisl ERAT&#x5377;aliquip&#x4E86;&#x5979;consequat.aliquam&#x7684;&#x4F18;&#x52BF;&#x3002;
                                .clear
                                .links
                                    ul
                                        li
                                            a(href='#')
                                                img(src='images/blog-icon1.png', title='日期')
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') 2013&#x5E74;6&#x6708;14&#x65E5;
                                        li
                                            a(href='#')
                                                img(src='images/blog-icon2.png', title='管理员')
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x7BA1;&#x7406;
                                        li
                                            a(href='#')
                                                img(src='images/blog-icon3.png', title='评论')
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x6CA1;&#x610F;&#x89C1;
                                        li
                                            a(href='#')
                                                img(src='images/blog-icon4.png', title='标贴')
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x67E5;&#x770B;&#x5E16;&#x5B50;
                                        li
                                            a(href='#')
                                                img(src='images/blog-icon5.png', title='永久链接')
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x6C38;&#x4E45;&#x94FE;&#x63A5;
                                .team
                                    h2
                                        font(style='vertical-align: inherit;')
                                            font(style='vertical-align: inherit;') &#x76F8;&#x5173;&#x6587;&#x7AE0;
                                    .section.group
                                        .grid_1_of_3.images_1_of_3
                                            img(src='images/pic18.jpg', alt='')
                                            h4
                                                a(href='#')
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x96C5;&#x514B;&#x7433;&middot;&#x9A6C;&#x514B;&#x5C14;
                                        .grid_1_of_3.images_1_of_3
                                            img(src='images/pic19.jpg', alt='')
                                            h4
                                                a(href='#')
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x53F2;&#x8482;&#x6587;&#x4F2F;&#x683C;
                                        .grid_1_of_3.images_1_of_3
                                            img(src='images/pic20.jpg', alt='')
                                            h4
                                                a(href='#')
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x4E54;&#x6069;&#x9EA6;&#x80AF;&#x9F50;
                                        .clear
                                    .leave-comment
                                        a(href='#', name='comment')
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') &#x53D1;&#x8868;&#x8BC4;&#x8BBA;
                                    .comments-area
                                        form
                                            p
                                                label Name
                                                span *
                                                input(type='text', value='')
                                            p
                                                label
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x7535;&#x90AE;
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') *
                                                input(type='text', value='')
                                            p
                                                label
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x7F51;&#x7AD9;
                                                input(type='text', value='')
                                            p
                                                label
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') &#x4E3B;&#x9898;
                                                span
                                                    font(style='vertical-align: inherit;')
                                                        font(style='vertical-align: inherit;') *
                                                textarea
                                            p
                                                font(style='vertical-align: inherit;')
                                                    font(style='vertical-align: inherit;')
                                                        input(type='submit', value='岗位')
                        .header-para
                            .categories
                                .list-categories
                                    .first-list
                                        .div_2
                                            a(href='')
                                                font(style='vertical-align: inherit;')
                                                    font(style='vertical-align: inherit;') &#x6C7D;&#x8F66;
                                        .div_img
                                            img(src='images/car1.jpg', alt='汽车', title='汽车', width='60', height='39')
                                        .clear
                                    .first-list
                                        .div_2
                                            a(href='')
                                                font(style='vertical-align: inherit;')
                                                    font(style='vertical-align: inherit;') &#x51FA;&#x79DF;
                                        .div_img
                                            img(src='images/car2.jpg', alt='汽车', title='汽车', width='60', height='39')
                                        .clear
                                    .first-list
                                        .div_2
                                            a(href='')
                                                font(style='vertical-align: inherit;')
                                                    font(style='vertical-align: inherit;') &#x94F6;&#x884C;&#x4E1A;
                                        .div_img
                                            img(src='images/car3.jpg', alt='汽车', title='汽车', width='60', height='39')
                                        .clear
                                    .first-list
                                        .div_2
                                            a(href='')
                                                font(style='vertical-align: inherit;')
                                                    font(style='vertical-align: inherit;') &#x5361;&#x8F66;
                                        .div_img
                                            img(src='images/car4.jpg', alt='汽车', title='汽车', width='60', height='39')
                                        .clear
                                .box
                                    .box-heading
                                        h1
                                            a(href='#')
                                                font(style='vertical-align: inherit;')
                                                    font(style='vertical-align: inherit;') &#x5927;&#x8F66;&#xFF1A;&nbsp;
                                    .box-content
                                        font(style='vertical-align: inherit;')
                                            font(style='vertical-align: inherit;')
                                                | &#x73B0;&#x5728;&#x4F60;&#x7684;&#x8D2D;&#x7269;&#x8F66;&#x4E2D;&#x6709;
                                        strong
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') 0&#x4EF6;&#x5546;&#x54C1;
                                .box-title
                                    h1
                                        span.title-icon
                                        a(href='')
                                            font(style='vertical-align: inherit;')
                                                font(style='vertical-align: inherit;') &#x7279;&#x4EF7;
                                .section.group.example
                                    .col_1_of_2.span_1_of_2
                                        img(src='images/pic21.jpg', alt='')
                                        img(src='images/pic24.jpg', alt='')
                                        img(src='images/pic25.jpg', alt='')
                                        img(src='images/pic27.jpg', alt='')
                                    .col_1_of_2.span_1_of_2
                                        img(src='images/pic22.jpg', alt='')
                                        img(src='images/pic23.jpg', alt='')
                                        img(src='images/pic26.jpg', alt='')
                                        img(src='images/pic28.jpg', alt='')
                                    .clear
                        .clear
                        .footer-bottom
#goog-gt-tt.skiptranslate(dir='ltr')
    div(style='padding: 8px;')
        div
            .logo
                img(src='https://www.gstatic.com/images/branding/product/1x/translate_24dp.png', width='20', height='20', alt='Google 翻译')
    .top(style='padding: 8px; float: left; width: 100%;')
        h1.title.gray &#x539F;&#x6587;
    .middle(style='padding: 8px;')
        .original-text
    .bottom(style='padding: 8px;')
        .activity-links
            span.activity-link &#x63D0;&#x4F9B;&#x66F4;&#x597D;&#x7684;&#x7FFB;&#x8BD1;&#x5EFA;&#x8BAE;
            span.activity-link
        .started-activity-container
            hr(style='color: #CCC; background-color: #CCC; height: 1px; border: none;')
            .activity-root
    .status-message(style='display: none;')
.goog-te-spinner-pos
    .goog-te-spinner-animation
        svg.goog-te-spinner(xmlns='http://www.w3.org/2000/svg', width='96px', height='96px', viewbox='0 0 66 66')
            circle.goog-te-spinner-path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')
