doctype html
head
    title The Auto-Tuning Website Template | Repair ::
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='http://fonts.useso.com/css?family=Anaheim', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
.wrap
    .header
        .logo
            h1
                a(href='index.html')
                    img(src='images/logo.png', alt='')
        .clear
        .h_main
            ul.nav
                li.active
                    a(href='index.html') &#x9996;&#x9875;
                li
                    a(href='maintain.html') &#x7EF4;&#x62A4;
                li
                    a(href='repair.html') &#x7EF4;&#x4FEE;
                li
                    a(href='contact.html') &#x8054;&#x7CFB;
                li
                    a(href='about.html') &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                li
                    a(href='term.html') &#x6211;&#x4EEC;&#x56E2;&#x961F;
            .search
                form
                    input(type='text', value='')
                    input(type='submit', value='')
            .clear
    .main
        .main1
            .boxes
                h2 why us importance of repair
                .repair
                    section
                        ul.lb-album
                            li
                                a(href='#image-1')
                                    img(src='images/r_pic1.jpg', alt='')
                                    span
                                #image-1.lb-overlay
                                    img(src='images/r_pic1.jpg', alt='')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            li
                                a(href='#image-2')
                                    img(src='images/r_pic2.jpg', alt='')
                                    span
                                #image-2.lb-overlay
                                    img(src='images/r_pic2.jpg', alt='')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            li
                                a(href='#image-3')
                                    img(src='images/r_pic3.jpg', alt='')
                                    span
                                #image-3.lb-overlay
                                    img(src='images/r_pic3.jpg', alt='image03')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            li
                                a(href='#image-4')
                                    img(src='images/r_pic4.jpg', alt='')
                                    span
                                #image-4.lb-overlay
                                    img(src='images/r_pic4.jpg', alt='image04')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                .repair
                    section
                        ul.lb-album
                            li
                                a(href='#image-5')
                                    img(src='images/r_pic5.jpg', alt='')
                                    span
                                #image-5.lb-overlay
                                    img(src='images/r_pic5.jpg', alt='image05')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            li
                                a(href='#image-6')
                                    img(src='images/r_pic6.jpg', alt='')
                                    span
                                #image-6.lb-overlay
                                    img(src='images/r_pic6.jpg', alt='image06')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            li
                                a(href='#image-7')
                                    img(src='images/r_pic7.jpg', alt='')
                                    span
                                #image-7.lb-overlay
                                    img(src='images/r_pic7.jpg', alt='image07')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            li
                                a(href='#image-8')
                                    img(src='images/r_pic8.jpg', alt='')
                                    span
                                #image-8.lb-overlay
                                    img(src='images/r_pic8.jpg', alt='image08')
                                    a.lb-close(href='#page')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            .clear
    .footer
        .f_left
            .f_nav
                ul
                    li
                        a(href='') &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                    li
                        a(href='') &#x5730;&#x70B9;&#x7AD9;&#x56FE;
                    li
                        a(href='') &#x5BA2;&#x6237;&#x670D;&#x52A1;
                    li
                        a(href='') &#x641C;&#x7D22;&#x6761;&#x4EF6;
                    li
                        a(href='') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
            .copy
                p.w3-link
                    | &copy; All Rights Reserved | More Templates
                    a(href='#', target='_blank', title='汽车展示') &#x6C7D;&#x8F66;&#x5C55;&#x793A;
                    |  - Collect from
                    a(href='#', title='汽车展示', target='_blank') &#x6C7D;&#x8F66;&#x5C55;&#x793A;
        .social-icons
            ul
                li.icon1
                    a(href='#', target='_blank')
                li.icon2
                    a(href='#', target='_blank')
                li.icon3
                    a(href='#', target='_blank')
                li.icon4
                    a(href='#', target='_blank')
                .clear
        .clear
